.form-name{
    text-align: center;
    color: rgb(180, 14, 14);
}
.form-horizontal{
    background-color: rgb(88, 8, 8);
    padding: 50px 20px;
    width: 500px;
    margin: auto;
    border-radius: 5px;
}
.radio-inline{
    color: white;
    margin-left: -19px;
}
.dateName{
    color: white;
    font-size: 13px;
}
#date{
    width: 130px;
}
.btn-primary{
    width: 250px;
}
.alert-message{
    margin-top: -510px;
}
.alert-message-success{
    visibility: hidden;
}
.alert-message-fail{
    visibility: hidden;
}
